[Unit]
Description=Start all games and stuff
After=syslog.target network.target

[Service]
User=nuke
Type=oneshot
WorkingDirectory=/home/nuke/
ExecStart=/home/nuke/server_management/misc/start.sh
ExecStop=/home/nuke/server_management/misc/stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
